@page "/login"
@using System.Net.Http.Headers
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using LiveVoting.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager



<h3>Login</h3>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @((MarkupString)errorMessage)
    </div>
}

<EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmit" FormName="login-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="loginModel.Email" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="loginModel.Password" class="form-control" type="password" />
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>
    <p>Don't have an account yet? <NavLink href="/signup">Sign up</NavLink></p>
    
</EditForm>

@code {
    [SupplyParameterFromForm]
    private LoginModel loginModel { get; set; } = new();

    private string? _jwt { get; set; } = null;
    private string errorMessage = string.Empty;
    private bool loginSuccessful = false;

    private async Task HandleValidSubmit()
    {
        try
        {
            errorMessage = string.Empty;

            // Here you would typically send a request to your login API
            var response = await HttpClient.PostAsJsonAsync("/api/login", loginModel);
            var responseBody = await response.Content.ReadAsStringAsync();
            
            if (!response.IsSuccessStatusCode)
            {
                errorMessage = $"Login failed: {responseBody}";
            }
            else
            {
                // Handle successful login
                Console.WriteLine("Login successful!");
                Console.WriteLine("Recieved the following jwt: " + responseBody);
                await StoreJwtAndNavigate(responseBody);
            }
        }
        catch (HttpRequestException e)
        {
            errorMessage = $"Error: {e.Message}";
        }
    }
    
    private async Task StoreJwtAndNavigate(string jwt)
    {
        await LocalStorage.SetItemAsync("jwt", jwt);
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", _jwt);
        NavigationManager.NavigateTo("/");
    }
}